extends ../layout

block content   
    a.btn.btn-success(href='/bicicletas' role='button') Volver
    a.btn.btn-info(href='/' role='button') Inicio
    br
    br
    br

    h1 Nueva bicicleta 

    br
    br


    form(action='/bicicletas/create' method='post')
        .form-group
          label(for='id') Id:
          input#id.form-control(type='text' name='id')
        .form-group
          label(for='color') Color:
          input#color.form-control(type='text' name='color')
        .form-group
          label(for='modelo') Modelo:
          input#modelo.form-control(type='text' name='modelo')
        .form-group
          label(for='lat') Latitud (ejm: 32.5304):
          input#modelo.form-control(type='text' name='lat')  
        .form-group
          label(for='lng') Longitud (ejm: 32.4445):
          input#modelo.form-control(type='text' name='lng')                  
        br
        br      
        input.btn(type='submit' value='OK')       
